/*Quitamos parametros por defecto de los navegadores*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Aqui voy a editar las fuentes*/
@font-face {
    font-family: "litespeed";
    src: url("../fuentes/litespeed/Litespeed-Bold.ttf");
}
@font-face {
    font-family: "mefidows";
    src: url("../fuentes/mefidows/Mefidows DEMO VERSION.ttf");
}
/*Aqui editamos el hedar*/
header{
    font-family: "litespeed";
    position: relative;
    height: 700px;
    overflow: hidden;
}
/*Aqui editamos el video para que ocupe todo el tamaño del header y para que quede el video adaptable le asignamos el parametro object-fit*/
header video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.titulo{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 80px;
    color: aquamarine;
}
/*Colocamos la frase en el centro del video*/
.frase{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 45px;
    color: #FFFFFF;
}
/*Para el parrafo de inicio de sesion y registrarse,juntamos codigo que se va a repetir,asi evitamos codigo duplicado*/
.iniciar-sesion,.registrarse{
    position: absolute;
    top: 20px;
    text-decoration: none;
    color: white;
}
/*Colocamos a iniciar sesion*/
.iniciar-sesion{
    right: 20px;
}
/*Colocamos a registrarse*/
.registrarse{
    right: 180px;
}
/*Editamos el main*/
main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 900px;
    font-size: 70px;
    font-family: "mefidows";
}
main article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 50%;
    color: #E10600;
    font-size: 70px;
}
.zap{
    align-self: flex-start;
    opacity: 0; /*Lo aplicamos opocidad 0 para que no se vea hasta que se cumpla el efecto en javascript*/
    transform: translateY(0);
    transition: opacity 0.8s ease, transform 0.8s ease;
}
/*Seleccionamos el segundo trozo para alinear*/
.store{
    align-self: flex-end;
    opacity: 0;
    transform: translateY(0);
    transition: opacity 0.8s ease, transform 0.8s ease;
}
/*Contenedor div de los logos*/
.logos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
/*Editamos el tamaño de las fotos*/
.logos img{
    width: 200px;
    height: 200px;
    opacity: 0;
    transform: translateY(0);
    transition: opacity 0.8s ease, transform 0.8s ease;
}
/*Esta es la clase que hace visible los elementos otra vez con javascript*/
.visible{
    /*Primero hacemos el elemento visible*/
    opacity: 1 !important;
    transform: translateY(-50px) !important; /*Un afecto de movimiento con eje Y*/
}
/*Editamos el footer*/
footer{
    background-color: black;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
footer p{
    color: white;
    font-weight: bold;
}
footer img{
    border: none;
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 20px;
}